doctype html

html(lang=lang)

  head

    block meta_title
      title!= meta.title

    block meta_description
      if meta.description
        meta(
          name="description"
          content=meta.description)

    meta(
      name="author"
      content=author.name)

    meta(
      name="keywords"
      content=meta.keywords.join(','))

    meta(
      name="viewport"
      content="width=device-width"
    )

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    //- Set baseUrl to release_prefix because the deck folder could be a domain subdirectory.
    base(href=release_prefix)

    link(
      href=paths.to.styles + "style.css"
      rel="stylesheet"
      type="text/css"
    )
    link(
      href="https://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet")

  body.layout

    .layout__page
      block page

    footer.layout__footer(role="contentinfo")
      // Support Confetti, don't remove the Copyright :)
      .layout__footer-wrapper
        .footer
          .footer__content
            .footer__copy
              p.footer__text
                = "Generated with "
                a(href="https://github.com/andreamangano/confetti-cli")
                  strong Confetti
                != "&copy;,"
                br
                | an open source project from <strong>Italy</strong>.
            .footer__theme
              p.footer__text
                = "Theme "
                a(href="https://github.com/andreamangano/confetti-theme-voice")
                  strong Voice

    block base_includes_scripts

    block includes_scripts