extends layout

block page
  .slide-page

    //- Header - slide deck preview
    header.slide-page__header(
      role="banner")

      .slide-page__header-wrapper
        .deck-preview
          .deck-preview__content

            if author.picture
              .deck-preview__cover
                .deck-preview__cover-image(
                  style="background-image: url(" + paths.to.deckImages +
                  author.picture + ");")

            .deck-preview__info
              .deck-preview__author!= author.name + ': '
              a.deck-preview__title(
                href="index.html")
                != title

            .deck-preview__slides
              .deck-preview__counter
                .deck-preview__counter-value=sliderNav.current.data.index

    main.slide-page__main(role="main")
      .slide-page__main-header
        .slide-page__main-header-wrapper

            .slide-page__controls
              .slide-page__controls-buttons
                nav.controls(role="navigation")
                    .controls__content
                      .controls__item.controls__item--prev

                        //- Previous slide button
                        if sliderNav.prev
                          a.controls__link(
                            href=sliderNav.prev.data.url
                            title=translations.go_prev_slide)
                            .controls__icon.icon
                              include ./../assets/images/icons/prev.svg
                            .controls__text= translations.previous

                      .controls__item.controls__item--index
                        a#js-open-menu-button.controls__link(
                          href="index.html#table-contents")
                          .controls__icon.icon
                            include ./../assets/images/icons/slides.svg
                          .controls__text
                             =sliderNav.current.index
                             ="/"
                             =sliderNav.total
                             = " "
                             =translations.slides

                      //- Next slide button
                      .controls__item.controls__item--next
                        if sliderNav.next
                          a.controls__link(
                            href=sliderNav.next.data.url
                            title=translations.go_next_slide)
                            .controls__icon.icon
                              include ./../assets/images/icons/next.svg
                            .controls__text= translations.next

              //- Status bar
              .status-bar(
                role="progressbar"
                aria-valuenow=sliderNav.percentage
                aria-valuemin="0"
                aria-valuemax="100")
                .status-bar__percentage(
                  style="width:" + sliderNav.percentage + "%;")

            #js-slide-image.slide-page__cover
              .slide-page__cover-content
                //- TODO: replace alt attribute with more accurate description provided by config
                img.slide-page__cover-image(
                  tabindex="2"
                  src=slide.cover.format.original
                  alt=slide.cover.file)

      .slide-page__main-content
        .slide-page__title

          //- Slide title
          h1.slide-page__title-content(
            tabindex="1")
            != slide.title

        //- Slide description
        if slide.description
          .slide-page__main-content-wrapper
            .slide-page__description(
              tabindex="3")
              != slide.description
    

    #js-slide-image-fix.slide-page__cover-hidden
      img.slide-page__cover-hidden-image(src=slide.cover.format.original)

    .slide-page__menu
      .menu
        .menu__overlay(
        for="hidden-menu-input")

        .menu__content
          .menu__content-wrapper
            .menu__close
              button#js-close-menu-button.menu__close-button= translations.close_menu
            h3.menu__title!= translations.menu_title
              small.menu__title-counter= slides.length
            ul.menu__list
              each _slide, index in slides
                - var selectedClass = _slide.index == slide.index ? 'is-selected' : ''
                li.menu__item(
                  class=selectedClass)
                  .slide-menu-preview
                    a.slide-menu-preview__link(
                      href=_slide.url)

                      picture.slide-menu-preview__cover
                        img.slide-menu-preview__cover-image(
                          src=_slide.cover.format.small)

                      .slide-menu-preview__text
                        .slide-menu-preview__index=_slide.index
                        h4.slide-menu-preview__title!=_slide.title

append base_includes_scripts
  script(type='text/javascript').
    var navigation = !{JSON.stringify(sliderNav)};

append includes_scripts
  script(type="text/javascript" src=paths.to.javascript + 'slide.js')