extends layout

block page
   .slide-page
      header.slide-page__header
          .slide-page__header-wrapper
              .deck-preview
                  .deck-preview__content
                      if author.picture
                        .deck-preview__cover
                            .deck-preview__cover-image(
                            style="background-image: url("+paths.to.deckImages + author.picture+");")
                      .deck-preview__info
                          .deck-preview__author!= author.name + ': '
                          a.deck-preview__title(href=href=paths.to.base)!= title
                      .deck-preview__slides
                        .deck-preview__counter
                            .deck-preview__counter-value=sliderNav.current.data.index

      main.slide-page__main
          .slide-page__main-header
              .slide-page__main-header-wrapper
                  .slide-page__controls
                        .controls
                            .controls__content
                                .controls__item.controls__item--prev
                                    if sliderNav.prev
                                        a.controls__link(href=sliderNav.prev.data.url
                                                         title=translations.previous)
                                            .controls__icon.icon
                                                include ./../assets/images/icons/prev.svg
                                            .controls__text= translations.previous

                                .controls__item.controls__item--index
                                    a.controls__link(href=paths.to.base + "#table-contents")
                                        .controls__icon.icon
                                            include ./../assets/images/icons/slides.svg
                                        .controls__text
                                           =sliderNav.current.index
                                           ="/"
                                           =sliderNav.total
                                           = " "
                                           =translations.slides

                                .controls__item.controls__item--next
                                    if sliderNav.next
                                        a.controls__link(href=sliderNav.next.data.url
                                                         title=translations.next)
                                            .controls__icon.icon
                                                include ./../assets/images/icons/next.svg
                                            .controls__text= translations.next
                            .status-bar
                                - var percentage = (sliderNav.current.index * 100) / sliderNav.total
                                .status-bar__percentage(style="width:" + percentage + "%;")
                  #js-slide.slide-page__cover
                       .slide-page__cover-content
                        img.slide-page__cover-image(
                        src=slide.cover.format.original
                       )


          .slide-page__main-content
            .slide-page__title
                h1.slide-page__title-content!= slide.title
            if slide.description
                .slide-page__main-content-wrapper
                    .slide-page__description!= slide.description

   script(type='text/javascript').
       var navigation = !{JSON.stringify(sliderNav)};
   script(type="text/javascript" src=paths.to.javascript + 'slide.js')